<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barclouds" >

    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".views.app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".views.ui.SplashActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ui.GuideActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".views.ui.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".views.zxing.CaptureActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".views.ui.MineActivity" >
        </activity>
        <activity android:name=".views.ui.NotificationActivity" >
        </activity>
        <activity android:name=".views.ui.IoActivity" >
        </activity>
        <activity
            android:name=".views.ui.CheckUpdateActivity"
            android:theme="@style/updateactivity" >
        </activity>
        <activity android:name=".views.ui.AboutActivity" >
        </activity>
        <activity android:name=".views.ui.AmedUserNameActivity" >
        </activity>
        <activity android:name=".views.ui.AmedPasswordActivity" >
        </activity>
        <activity android:name=".views.ui.RegisterActivity" >
        </activity>
        <activity android:name=".views.ui.LoginActivity" >
        </activity>
        <activity android:name=".views.ui.SearchActivity" >
        </activity>
        <activity android:name=".views.ui.DataViewActivity" >
        </activity>
        <activity android:name=".views.ui.InfoListViewActivity" >
        </activity>
        <activity android:name=".views.ui.CollectListViewActivity" >
        </activity>
        <activity android:name=".views.ui.SettingActivity" >
        </activity>
        <activity android:name=".views.ui.InputActivity" >
        </activity>
        <activity
            android:name=".views.filesChooser.FileChooserActivity"
            android:theme="@style/dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".views.updata.ReplaceBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
